<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ldap_app_three/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
